<!DOCTYPE html>
<html lang="ko">
    {{> head}}
  <body>
    {{> navbar}}


    <header class="bg-white py-5">
        <div class="container px-5 pt-4 pb-2">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-dark font-weight-lg mb-2">이미지 저장소</h1>
                        <p class="lead text-dark font-weight-md mb-4" id="intro">클라우드 쓰기 번거롭다? 제발 좀 업로드되라? 이런 쓸데없는 걱정 말고 이젠 이미지 서버 하자!</p>
                    </div>
                </div>
            </div>
        </div>
    </header>


    
    <section class="py-5" id="features">
        <div class="container-fluid px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Request</h2>
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">type</th>
                            <th scope="col">name</th>
                            <th scope="col">sub</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Header</td>
                                <td>x-access-token</td>
                                <td>JWT 토큰</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>From Data</td>
                                <td>image</td>
                                <td>이미지 폼 데이터</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Response</h2>

                    <pre id="logs" style="white-space: pre-wrap;">
{
    "status": 1,
    "filename": "1644997335705.png",
    "filesize": 184914
}
                    </pre>

                </div>
                <div class="col-lg-7">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Feed </h2>

                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="mb-3">
                        <textarea class="form-control form-textarea color-gray-100" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn color-blue-100 text-primary" onclick="appendFeeeeeeeeeeed()">피드 작성</button>
                    </div>

                    <pre id="logs" style="white-space: pre-wrap;">

                    </pre>
                </div>
            </div>
        </div>
    </section>


 

    {{> footer}}


  </body>
</html>