.navbar-blur {
    background-color: #ffffffd5;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.navbar-toggler {
    outline: none;
    border-color: transparent !important;
    box-shadow: transparent;
}

.navbar-toggler > .icon-close {
    display: none;
}


.navbar-toggler:focus {
    box-shadow: none !important;
}

.btn-outline-light:hover {
    color: #212529 !important;
}

.btn-rounded {
    border-radius: 10px;
}


.font-title {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

.font-weight-lg {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 700 !important;
}
.font-weight-md {
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
    font-weight: 500 !important;
}

.card-title{
    font-family: 'Noto Sans KR', sans-serif;

}

.form-textarea{
    border: none !important;
}